@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    font-family: "Lato", serif;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

body {
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji"
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}
/* Header CSS */


section.crem-bg {
    background-color: #fffaf5;
}

.header-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 80px;
}

.menu ul {
    display: flex;
    list-style: none;
    align-items: center;
}

.menu ul li a {
    color: #17134a;
    padding: 20px 16px;
    display: block;
    transition: .3s;
}

.menu ul li a:hover {
    color: #3a30ba;
}

header.header {
    border: 1px solid #e8e3e3;
}

.header-btns a {
    font-size: 14px;
    line-height: 21px;
    padding: 10px 20px;
    transition: .3s;
    color: #3a30ba;
    display: inline-block;
}

.header-btns a.signUp-btn {
    border: 1px solid;
    border-radius: 5px;
}

/* Hero CSS */

.hero {
    padding: 100px 0;
}

.hero-content {
    margin: 0 auto;
    text-align: center;
}

.hero-content h1 {
    font-size: 71px;
    font-weight: 700;
    line-height: 71px;
    color: #17134a;
    padding-bottom: 25px;
    max-width: 900px;
    margin: 0 auto;
}

.hero-content h2 {
    font-family: inherit;
    line-height: 33px;
    font-size: 22px;
    font-weight: 400;
    color: #45426e;
    margin-bottom: 20px;
}

.hero-content ul {
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.hero-content ul li svg {
    width: 20px;
    color: #3a30ba;
    margin-right: 5px;
}

.hero-content ul li {
    display: flex;
    align-items: center;
    margin: 0 15px;
    flex-wrap: wrap;
    font-size: 18px;
    line-height: 27px;
    color: #45426e;
    font-weight: 500;
}

.try-free-btn a {
    display: inline-flex;
    padding: 17px 35px;
    background-color: #3a30ba;
    color: #fff;
    border-radius: 5px;
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
    transition: .3s;
}

.try-free-btn a svg {
    width: 10px;
    margin-left: 15px;
}

.try-free-btn {
    padding: 25px 90px;
    margin-bottom: 15px;
    background-image: url(../img/button-bg_wqfy1ggx.svg);
    background-repeat: no-repeat;
    background-size: 99%;
    display: inline-block;
    background-position: center;
}

.try-free-btn a:hover {
    background-color: #191365;
}

.featured-on {
    display: flex;
    justify-content: center;
    align-items: center;
}

.featured-on img {
    max-height: 35px;
    margin: 0 20px;
}

.featured-on span {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #45426e;
}

.hero-leader img {
    max-width: 270px;
    padding: 25px 0;
}

.header-video video {
    width: 100%;
    border-radius: 20px;
}

.header-video {
    width: 80%;
    margin: 0 auto;
    position: relative;
    z-index: 1;
    padding-bottom: 50px;
}

.header-video:after {
    position: absolute;
    top: -4.5%;
    left: -3%;
    width: 106%;
    height: 100%;
    background-color: #ebe6e8;
    content: "";
    z-index: -1;
    opacity: .5;
    border-radius: 20px;
}

.header-video:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 106%;
    height: 110%;
    content: "";
    z-index: 5;
    background-image: url(../img/video-pach.svg);
   
}

.header-video:before {
    position: absolute;
    top: -5%;
    left: 0;
    width: 100%;
    height: 105%;
    content: "";
    z-index: -5;
    background-image: url(../img/video-pach.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}








    font-size: 71px;
    line-height: 71px;
    color: #17134a;
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 30px;
    font-weight: 700;
}

.hero-content {
    margin: 0 auto;
    text-align: center;
    padding: 100px 0;
    max-width: 900px;
}

.hero-content h2 {
    font-size: 22px;
    line-height: 33px;
    color: #45426e;
    font-weight: 400;
    margin-bottom: 20px;
}

.hero-pages ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.hero-pages ul li svg {
    width: 20px;
    height: 20px;
    margin-right: 7px;
    color: #3a30ba;
}

.hero-pages ul li {
    right: 2px;
    list-style: none;
    right: 17px;
    margin-bottom: 5px;
    font-size: 18px;
    line-height: 27px;
    color: #45426e;
}

.hero-pages {margin-bottom: 30px;}

.herp-btn a {
    padding: 20px 40px;
    background-color: #3a30ba;
    border-radius: 5px;
    color: #fff;
    transition: .3s;
    font-size: 20px;
    display: inline-block;
}

.herp-btn {
    padding-bottom: 50px;
    position: relative;
    z-index: 1;
}

.herp-btn img {
    position: absolute;
    top: -6px;
    left: 27%;
    width: 45%;
    height: 71px;
    z-index: -1;
}

.herp-btn a svg {
    width: 10px;
    color: #fff;
    margin-left: 10px;
}

.herp-btn a:hover {
    background-color: #0e076d;
}

.featured-on ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.featured-on ul li img {
    max-width: 89px;
    max-height: 40px;
}

.featured-on ul li {
    list-style: none;
    color: #45426e;
    font-size: 16px;
    font-weight: 400;
}

.featured-on {
    padding-bottom: 50px;
}

.hero-leader img {
    width: 280px;
    padding-bottom: 40px;
    margin: 0 auto;
}

.intro-video video {
    width: 100%;
    margin: 0 auto;
    border-radius: 25px;
}

.intro-video {
    position: relative;
    z-index: 1;
}

.intro-video:after {
    position: absolute;
    content: "";
    left: -17px;
    top: -17px;
    width: 104%;
    height: 106%;
    background-color: #e8e3e6;
    z-index: -1;
    border-radius: 25px;
    opacity: .7;
} */