@import url('https://fonts.googleapis.com/css2?family=Galada&family=Playwrite+VN&display=swap');


.parent-box {
    display: flex;
    flex-direction: row;
}

.box {
    border: 1px solid #ddd;
    padding: 30px;
    box-shadow: 15px 15px 15px #ddd;
    line-height: 25px;
    font-size: 18px;
    font-family: cursive;
    border-radius: 15px;
    margin: 12px;
}

.box h3 {
    font-family: "Playwrite VN", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 18px;
    color: darkcyan;
    border-bottom: 1px solid darkcyan;
    display: inline-block;
    padding-bottom: 15px;
}





