@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Rubik", serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}

.margin0Auto {
    margin: 0 auto;
    text-align: center;
}
.top-bottom-padding {
    padding: 100px 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}


/* Header CSS */

.hero-area {
    background-image: url(../img/bg.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-color: #0b265e;
    position: relative;
    z-index: 2;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius:50% 10%;
    border-bottom-left-radius: 50% 10% ;
}


.hero-area:before {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #0b265e;
    content: "";
    opacity: .7;
    z-index: -1;
    left: 0;
    top: 0;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius:50% 10%;
    border-bottom-left-radius: 50% 10% ;
}


.header {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

.menu ul {
    display: flex;
}

.menu a {
    color: #fff;
    text-decoration: none;
    margin-right: 35px;
    font-size: 13px;
    position: relative;
    display: inline-block;
    font-family: 'Poppins';
}

.menu ul {
    display: flex;
    align-items: center;
    list-style: none;
}

.menu a:active {
    color: #fff;
    border-bottom: 1px solid #fb8133;
    padding-bottom: 10px;
    margin-top: 10px;
}
.theme-btn {
    background-color: #fb8133;
    padding: 13px 35px;
    border-radius: 50px;
    text-transform: uppercase;
    font-family: poppins;
    color: #fff;
    text-decoration: none;
}

.menu li:last-child a {
    color: #fff;
    border: none;
    position: relative;
}

.menu li:last-child a:after {
    display: none;
}

.logo {
    display: flex;
    align-items: center;
    align-content: center;
}

.logo img {
    max-width: 60px;
}


.hero-content {
    max-width: 655px;
    margin: 14% auto;
    text-align: center;
    color: #fff;
    font-size: 15px;
    line-height: 33px;
}

.hero-content h1 {
    font-size: 55px;
    line-height: 66px;
    margin-bottom: 20px;
}

.hero-btn {
    margin-top: 45px;
}

.hero-btn a.hBtn {
    margin-right: 58px;
    padding: 15px 35px;
    background-color: cornflowerblue;
    border-radius: 50px;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    margin-left: 20px;
}

/* Services CSS */

.scction-title h4 {
    font-size: 14px;
    text-transform: uppercase;
    color: #fb8133;
    line-height: 18px;
    margin-bottom: 10px;
}

.scction-title h2 {
    font-size: 30px;
    line-height: 36px;
    color: #172541;
    margin-bottom: 15px;
}

.scction-title {
    color: #565872;
    font-size: 15px;
    line-height: 30px;
    max-width: 700px;
    margin-bottom: 50px;
}

.scction-title h4 {
    font-size: 14px;
    text-transform: uppercase;
    color: #fb8133;
    line-height: 18px;
    margin-bottom: 10px;
}

.scction-title h2 {
    font-size: 30px;
    line-height: 36px;
    color: #172541;
    margin-bottom: 15px;
}

.scction-title {
    color: #565872;
    font-size: 15px;
    line-height: 30px;
    max-width: 700px;
    margin-bottom: 50px;
}

.service-icon {
    margin: 0px auto;
    max-width: 80px;
    height: 80px;
    background-color: #ddd;
    border-radius: 50%;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    padding: 5px;
}

.service-icon svg {
    padding: 15px;
    color: #fff;
}

.single-service-item h3 {
    color: #172541;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 20px;
}

.single-service-item {
    font-size: 15px;
    line-height: 30px;
    color: #565872;
    padding: 40px 20px;
    border: 1px solid #ddd;
    box-shadow: none;
    max-width: 350px;
    transition-delay: .3s;
}

.single-service-box {
    display: flex;
    gap: 30px;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.single-service-item:hover .service-icon {
    background-color: #fb8133
}

.single-service-item:hover  {
    box-shadow: 0 0 15px 3px #ddd;
}








/* button.clickMe {
    padding: 20px 40px;
    border: 1px solid #101010;
    background-color: cadetblue;
    color: #fff;
    font-size: 25px;
    display: block;
    margin: 0 auto;
} */